<!DOCTYPE html>
<html lang="de">
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/checked_in_out/checked_in_out_style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/go_home/go_home.css' %}"/>

        <script>
            // Funktion zum Umleiten nach einer Verzögerung
            function umleitungNachVerzögerung() {
                // Warte 3 Sekunden (3000 Millisekunden)
                setTimeout(function () {
                    // Umleitung zur gewünschten URL
                    window.location.href = '/go_home/';
                }, 3000);
            }
    
            // Diese Funktion wird aufgerufen, wenn das Dokument vollständig geladen ist
            document.addEventListener('DOMContentLoaded', function () {
                // Hier kannst du andere JavaScript-Aktionen für dein Template hinzufügen
    
                // Starte die Verzögerung und Umleitung
                umleitungNachVerzögerung();
            });
        </script>
    </head>

    <body>
    
    <div class ="mid_container">
        <h1 class="default_heading_mid">Auf Wiedersehen! </h1>
        <div class="selection_board">
            <div class="button_container_row">
                <div class="button_container_icon" id="very_well_smiley"  onclick="location.href='{% url 'go_home_feedback' feedback='good' %}';">
                    <a href="/go_home/good" id="icon_button_style">
                        <img src="{% static 'img/smiley.png' %}"" >
                        <p class="icon_description">Sehr gut!</p> 
                    </a>
                </div>  
                <div class="button_container_icon" id="okay_smiley" onclick="location.href='{% url 'go_home_feedback' feedback='medium' %}';">
                    <a href="/go_home/medium" id="icon_button_style">
                        <img src="{% static 'img/smiley.png' %}""> 
                        <p class="icon_description">Okay!</p>
                    </a>
                </div>
                <div class="button_container_icon" id="bad_smiley" onclick="location.href='{% url 'go_home_feedback' feedback='bad' %}';">
                    <a href="/go_home/bad" id="icon_button_style"> 
                        <img src="{% static 'img/bad_smiley.png' %}">
                        <p class="icon_description">Schlecht!</p>
                    </a>   
                </div>
            </div>
        </div>
        
        <h2 class="default_subheading_mid">Wie war dein Tag heute?</h2>
    </div>
    </body>
    <form method="post" id="form">
        {% csrf_token %}
        <input type="hidden" name="tag_id" id="tag_id" value="">
        <!--<input type="submit" value="">-->
    </form>
    <script type="module" src="{% static 'js/home_scan_tag.js' %}"></script>
    </html>
{% endblock %}