/*hier Stype optionen z.b. für Pages, wo der Help-button auf die Rechte Seite soll*/
#help_right {
  right: 0;
  position: absolute;
  margin-right: 11vw;
}
.mid_container {
  margin-left: 10%;
  height: 75vh;
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.default_heading_mid {
  text-align: center;
  font: 600 max(50px, 2vw) "Inter";
  margin-bottom: 0px;
}

.nfc_scan {
  height: 30vw;
  width: auto;
  margin-top: 0px;
}
