<!DOCTYPE html>
<html lang="de">
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/set_nfc_set/set_nfc_set.css' %}"/>
    </head>

    <body>

    <div class="header_container_back_help">
        <button class="back" onclick="window.location.href = '/set_nfc_scan/'"> <span class = "arrow"> <i class="arrow_left"></i> </span> <span class="backtext">Zurück</span>  </button>

        <a class="question" href="#popup1">Hilfe</a>

        <div id="popup1" class="popup">
            <div class="popup2">
                <h3>Was muss ich in diesem Anzeigefenster beachten?</h3>

                <div class="content">
                    <p>In dieser Ansicht können Sie ein <strong>NFC-Armband</strong> einem neuen Kind oder Betreuer <strong>zuweisen</strong>.
                        Tippen Sie beim gewünschten Kind/Betreuer auf <strong>"Zuweisen"</strong>, um das Armband zuzuordnen.</p>
                </div>

                <a class="close" href="#">&times;</a>

            </div>"
        </div>
    </div>

    <h1 class="heading_2"> Chip erkannt: [{{id}}] </h1>
    <h2 class="subheading_2"> Weisen Sie das Armband bei Bedarf neu zu. </h2>



    <div class = "current">
        <p class = "text_current">Aktuell Zugewiesen:</p>
        <label class = "current_value">{{tag_username}}</label>
    </div>

    <form method="post">{% csrf_token %}
        <div class = "new">
            <p class = "text_new">Neu zuweisen:</p>
            <div class = "searchcontainer">
                <input type="text" class="searchbar" name="search" placeholder="Namen eingeben.." />
                <button class="search_button" name="button_search">Suchen</button>
            </div>

            <div class = "results">
                {% for user in p_users %}
                <div class="pupil_container">
                    <p class="text_pupil"> {{user.vorname}} {{user.nachname}} </p>
                    <button class="assign_button_orange" name="button_change_tag" value="{{user.id}}" type="submit"> Zuweisen </button>
                </div>
                {% endfor %}
                {% for user in s_users %}
                <div class="pupil_container">
                    <p class="text_pupil"> {{user.vorname}} {{user.nachname}} </p>
                    <button class="assign_button" name="button_change_tag" value="{{user.id}}" type="submit"> Zuweisen </button>
                </div>
                {% endfor %}
            </div>
            <!-- SAMPLE STYLE  -->
        </div>
    </form>
    <form method="post" id="form">
        {% csrf_token %}
        <input type="hidden" name="tag_id" id="tag_id" value="">
        <!--<input type="submit" value="">-->
    </form>
    <script type="module" src="{% static 'js/home_scan_tag.js' %}"></script>
    </body>
    </html>
{% endblock %}