
/* Main container of page */
.mid_container {
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
}
/* heading container */
.default_heading_mid {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}
/* logo container */
.checked_in_out_logo {
    margin-left: 6%;
    margin-top: 4%;
    height: 30vw;
    width: auto;
}
