.table_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94%;
  margin: auto;
}
.table_heading_row,
.table_data_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.table_heading_row {
  border-bottom: 3px solid black;
}
.column_title_type1,
.data_row_type1 {
  /* margin-left: 6%;
  margin-right: 6%; */
  text-align: center;

  width: 20%;
}

.data_row_type1 h4 {
  overflow: hidden;
  word-wrap: break-word;
}

.table_data {
  width: 100%;
}

.table_data_row {
  margin-top: 1%;
  border: none;
  border-radius: 10px;
  background-color: var(--label_background);
}

/*Phone Media Quarry*/
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .column_title_type1,
  .data_row_type1 {
    /*font-size: 3vw;*/
    word-break: break-all;
  }
  .table_data_row {
    margin-top: 2%;
  }
  /*#room_history_row h4,
  #room_history_row .data_row_type1 {
    font-size: 2.5vw;
  } */
  /* .column_title_type1,
  .data_row_type1 {
    margin-left: 3%;
    margin-right: 3%;
  } */
  /*Phone extra Media Quarry*/
  @media only screen and (min-width: 400px) and (max-width: 700px) {
    .column_title_type1,
    .data_row_type1 {
      font-size: 0.6em;
    }
  }
}
