<!DOCTYPE html>
<html lang="de">

{% extends 'base.html' %}
{% load static %}
{% block content %}


    <head>
        <title> Schülerauswahl </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/change_data_db/select_datatype_style.css' %}"/>
    </head>
    <body>
    <body>
        <div class = "block_container">
            <div class="header_container_back_help">
                <button class="back" onclick="location.href='{% url 'choose_data' %}';"> <span class = "arrow"> <i class="arrow_left"></i> </span> <span class="backtext">Zurück</span>  </button>
    
                <a class="question" href="#popup1">Hilfe</a>
    
                <div id="popup1" class="popup">
                    <div class="popup2">
                        <h3>Was muss ich in diesem Anzeigefenster beachten?</h3>
    
                        <div class="content">
                            <p> In dieser Ansicht können Sie <strong>Informationen</strong> zu dem ausgewählten Raum einsehen. Klicken Sie auf <strong>"Zurück"</strong>, um zurück zur Auswahlansicht des Raumes zu gelangen.</p>
                        </div>
    
                        <a class="close" href="#">&times;</a>
    
                    </div>"
                </div>
            </div>
    
            <h1 class="heading_2"> Raum auswählen </h1>

            <form method='post'>{% csrf_token %}
                <div class = "list_container">
                    {% for raum in raeume %}
                        <div class="room_container">
                        <p class="text_room">Raum {{raum.raum_nr}} </p>
        
                        <input type="button" id="select_button" value="Auswählen" onclick="location.href='{% url 'choose_data_room' %}';">                 
        
                        </div>
                    {% endfor %}
                </div>
            </div>
    
        </body>
    </html>
{% endblock %}